[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
